body {
  /*common*/
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  letter-spacing: 0.02em;
}
.site-logo {
  font-family: 'Raleway';
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.33;
  text-decoration: none;
}
.header-logo {
  font-size: 18px;
  color: #2e2f42;
}
.logo {
  color: #4d5ae5;
}
.header-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  text-decoration: none;
}
.header-link:hover,
.header-link:focus {
  color: #404bbf;
  text-decoration: underline;
}

.header-contact {
  color: #434455;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  letter-spacing: 0.04em;
  line-height: 1.5;
  text-decoration: none;
}

.header-contact:hover,
.header-contact:focus {
  color: #404bbf;
  /*common end*/
}
.title-hero {
  /*index*/
  color: #fff;
  background-color: #2e2f42;
  font-weight: bold;
  font-size: 56px;
  line-height: 1.08;
}
.button-hero {
  color: #fff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  cursor: pointer;
}
.button-hero:hover,
.button-hero:focus {
  color: #cceeaa;
  background-color: #404bbf;
}

h2 {
  font-weight: bold;
  font-size: 36px;
}
h3 {
  font-weight: medium;
  font-size: 20px;
}
p {
  font-weight: regular;
  font-size: 16px;
  line-height: 1.5;
}
ul {
  list-style-type: none;
}
/*index end*/

/*portfolio*/

.portfolio-buttons {
  color: #404bbf;
  background: #f4f4fd;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
}
.portfolio-buttons:hover,
.portfolio-buttons:focus {
  color: #fff;
  background-color: #404bbf;
}
.portfolio-tiles a {
  text-decoration: none;
  color: #2e2f42;
  line-height: 1.5;
}

.portfolio-tiles a:hover,
.portfolio-tiles a:focus {
  color: #404bbf;
}
.footer-logo {
  /*common*/
  font-size: 16px;
  color: #fff;
  background-color: #2e2f42; /*delete*/
}
