body {
  font-family: 'Roboto';
  color: #2e2f42;
}
.site-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.33;
  text-decoration: none;
}
.header-logo {
  font-size: 18px;
  color: #2e2f42;
}
.logo {
  color: #4d5ae5;
}
.header-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  text-decoration: none;
}
.header-link:hover {
  color: #404bbf;
  text-decoration: underline;
}
.header-link:focus {
  color: #404bbf;
  text-decoration: underline;
}
.header-list > li {
  list-style-type: none;
}
.header-mail,
.header-tel {
  color: #434455;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  text-decoration: none;
}

.header-list:hover,
.header-list:focus {
  color: #404bbf;
  text-decoration: underline;
}
.title-hero {
  color: #fff;
  background-color: #2e2f42;
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 60px;
}
.button-hero {
  color: #fff;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  cursor: pointer;
}
.button-hero:hover,
.button-hero:focus {
  color: #cceeaa;
  background-color: #404bbf;
}
.footer-logo {
  font-size: 16px;
  color: #fff;
  background-color: #2e2f42; /*delete*/
}
